<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Одяг під погоду</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="main.css">

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
    <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="main.js"></script>

    <script
            type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu8EfHXfhweZE-W19Uo2d_UIFrmKvOeMo"></script>
    <script src="map.js"></script>

</head>
<body>
<div class="container">
    <div class="header">
        <span id="siteName">Одяг під погоду</span><br>
        <span data-toggle="tooltip" data-placement="right" title="Натисніть, щоб обрати позицію">
            Локація:
            <button type="button" id="geoCity" class="btn" data-toggle="modal" data-target="#mapModal">Обрати локацію</button>
        </span>
    </div>

    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mapModalLabel">Оберіть позицію</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="googleMap"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="left">
            <img id="cloth1" width="300">
        </div>
        <div class="center">
            <div class="center temp">
                <span id="temp">...</span>&deg;C
            </div>
            <div class="center large">
                <span id="nowDate"></span>
            </div>
            <div>
                <img id="weatherIcon">
            </div>

            <div class="center">
                <b>Детально про погоду в будь-якій точці світу</b>
                <div id="weatherDetail"></div>
            </div>
        </div>
        <div class="right">
            <img id="cloth2" width="300">
        </div>
    </div>

    <div class="clear"></div>
</div>
</body>
</html>